# Byte-compiled / optimized / DLL files
python/code/__pycache__/
*.py[cod]
*$py.class
*.dll
*.so
*.dylib
*.mex*

# Sphinx documentation
python/docs/build/
python/docs/make.bat

# VSCode
.vscode/

sampleND2/
matlab/lib